/* DTQSYS board pinout:
 *   ICM-45686  — SPI2: MOSI=P1.8, MISO=P1.9, SCK=P0.7, CS=P0.4
 *   QMC6309    — I2C0: SDA=P0.24, SCL=P0.22
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
		current-speed = <115200>;
	};
};

&pinctrl {
	spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_SCK, 0, 7)>;
			bias-pull-up;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_SCK, 0, 7)>;
			low-power-enable;
		};
	};

	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
					<NRF_PSEL(TWIM_SCL, 0, 22)>;
			bias-pull-up;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
					<NRF_PSEL(TWIM_SCL, 0, 22)>;
			low-power-enable;
		};
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};